
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0B1451;
}
.transicao {
  transition: 0.5s;
  animation-duration: 0.5s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);

}
.transicao:hover {
  border-bottom: 1px solid white;
  transition: 0.5s;
}
header{
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #0B1451;
  width: 100%;
}
h1 {
  color: #C6B41A;
  font-weight: 800;
}
h2 {
  color: #C6B41A;}
.buttonc:hover {
  background-color: #636262;
  transition-duration: 0.5s;
  animation-duration: 0.5s;

}
.buttond {
  background-color: #9e9013;
}
.buttond:hover {
  background-color: #92861b;
  transition-duration: 0.5s;


}

.card {
  opacity: 0;
  animation: appear .7s forwards;
}
@keyframes appear {
  0% {
      transform: translateY(-50px);
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
